<% flash.each do |type, msg| %>
    <div style="color:red;">
    <%= msg %>
    </div>
<% end %>

<h2>Admin | Delete Equipment Item</h2>


<div class="equipments delete">

  <%= form_for(@equipment, :method => 'delete') do |f| %>

    
    <p>Are you sure you want to delete: <%= @equipment.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete equipment") %>
    </div>

  <% end %>
</div>
<br/>

<%= link_to("<< Back to Equipment List", equipments_path, :class => 'back-link') %>
