<% flash.each do |type, msg| %>
    <div style="color:red;">
    <%= msg %>
    </div>
<% end %>

<style>
body {
  background-color: Black;
  opacity: 0.8;
  color: white;
}
table.listing {
  margin-left:auto;
  margin-right:auto;
  color: white;
}
</style>

<h2 style = "text-align: center;">Admin | Edit Equipment Item</h2>

<div class="equipments edit" style = "text-align:center;">

  <%= form_for(@equipment) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Equipment") %>
    </div>

  <% end %>
</div>
<br/>

<div style = "text-align: center;">
    <%= link_to("<< Back to Equipment List", equipments_path, :class => 'back-link') %>
</div>
