
<!-- Going to have admin problems here. Probably make two views, one for admin and one not for admin -->
<%= link_to("<< Back to Equipment", equipments_equip_list_path, :class => 'back-link') %>

<div class="equipments show">
  <h2>Equipment Item Info</h2>

  <table summary="equipment detail view">
    <tr>
      <th>ID</th>
     <td><%= @equipment.id %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @equipment.name %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @equipment.description%></td>
    </tr>
    <tr>
      <th>Available</th>
      <td><%= @equipment.available %></td>
    </tr>
    
  </table>

</div>