<table summary="User form fields">
    <tr>
          <th><%= f.label :first_name %></th>
          <td><%= f.text_field(:first_name) %></td>
    </tr>
    <tr>
          <th><%= f.label :last_name %></th>
          <td><%= f.text_field(:last_name) %></td>
    </tr>
    <tr>
        <th><%= f.label :email %></th>
        <td><%= f.text_field(:email) %></td>
    </tr>
    <tr>
          <th><%= f.label :phone_number %></th>
          <td><%= f.text_field(:phone_number) %></td>
    </tr>
    <tr>
          <th><%= f.label :secondary_contact %></th>
          <td><%= f.text_field(:secondary_contact) %></td>
    </tr>
</table>
