<% flash.each do |type, msg| %>
    <div style="color:red;">
    <%= msg %>
    </div>
<% end %>

<h2>Admin | Delete Selected User</h2>
<br/>

<div>
    <%= form_for(@user, url: {action: "destroy"}, :method => 'delete') do |f| %>
        <p>Are you sure you want to delete this user?</p>
        <table summary="account info view">
        <tr>
            <th>First Name</th>
            <td><%= @user.first_name%></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><%= @user.last_name %></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><%= @user.email%></td>
        </tr>
        </table>
        <div class="form-buttons">
            <%= f.submit("Delete User")%>
        </div>
    <% end %>
</div>
<br/>

<%= link_to("<< Back to Users List", users_path, :class => "back-link")%>
