

<div class="users edit">
  <h2>Edit Account</h2>

  <h2>Sign up</h2>

<div class="sign-up-form" style = "margin-left: 1%;">
  <%= form_for(@users, url: {action: "update"}) do |f| %>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first name" %>
    </div>
    <br/>

    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last name" %>
    </div>
    <br/>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <br/>

    <div class="field">
      <%= f.label :phone_number %><br />
      <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone" %>
    </div>
    <br/>

    <div class="field">
      <%= f.label :secondary_contact %><br />
      <%= f.text_field :secondary_contact, autofocus: true, autocomplete: "email or phone" %>
    </div>
    <br/>

    <div class="form-buttons">
      <%= f.submit("Update Account") %>
    </div>
  <% end %>
</div>
