<% flash.each do |type, msg| %>
    <div style="color:red;">
    <%= msg %>
    </div>
<% end %>
<br/>

<h1>Admin User Management</h1>
<br/>

<div class = "accounts index">
    <table class="listing" summary="Book Listings">
        <tr class="header">
            <th style="padding:0 15px;">ID</th>
            <th style="padding:0 15px;">First Name</th>
            <th style="padding:0 15px;">Last Name</th>
            <th style="padding:0 15px;">Email</th>
        </tr>

        <% @users.each do |user| %>
        <tr>
            <td style="padding:0 15px;"><%= user.id %></td>
            <td style="padding:0 15px;"><%= user.first_name %></td>
            <td style="padding:0 15px;"><%= user.last_name %></td>
            <td style="padding:0 15px;"><%= user.email %></td>
            <td style="padding:0 15px;"class="actions">
                <%= link_to("Show", user_path(user), :class => 'action show') %>
                <%= link_to("Edit", edit_user_path(user), :class => 'action edit') %>
                <%= link_to("Delete", delete_user_path(user), :class => 'action delete') %>
            </td>
        </tr>
        <% end %>
    </table>
</div>
<br/>

<%= link_to("<< Back To Dashboard", edit_account_registration_path, :class => 'action equip_list')%>