<% flash.each do |type, msg| %>
    <div style="color:red;">
    <%= msg %>
    </div>
<% end %>

<style>
body {
  background-color: Black;
  opacity: 0.8;
  color: white;
}
table.center {
  margin-left:auto;
  margin-right:auto;
  color: white;
}
</style>

<h2 style="text-align:center;">Admin | Showing User Info</h2>
<br/>

<div class="users show">

    <table class="center" summary="account info view">
        <tr>
            <th>ID</th>
            <td><%= @user.id %></td>
        </tr>
        <tr>
            <th>First Name</th>
            <td><%= @user.first_name%></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><%= @user.last_name %></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><%= @user.email%></td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td><%= @user.phone_number %></td>
        </tr>
        <tr>
            <th>Secondary Contact</th>
            <td><%= @user.secondary_contact %></td>
        </tr>
        <tr>
            <th>Account Created</th>
            <td><%= @user.created_at %></td>
        </tr>
        <tr>
            <th>Recent Update</th>
            <td><%= @user.updated_at %></td>
        </tr>
        <tr>
            <th>Admin</th>
            <td><%= @user.is_admin %></td>
        </tr>
    </table>
</div>
<br/>

<div style = "text-align: center;">
<%= link_to("<< Back to Users List", users_path, :class => 'back-link') %>
</div>
