<h4 style = "text-align: center">History Of Reservations</h4>

<%= link_to("<< Back To Dashboard", edit_account_registration_path, :class => 'back-link') %>

<style>
body {
  background-color: Black;
  opacity: 0.8;
  color: white;
}
table.listing {
  margin-left:auto;
  margin-right:auto;
  color: white;
}
</style>

<div class="All Reservations">
    <table class="listing" summary="Reservation List">
        <tr class="header">
            <!-- <th style="padding:0 15px;"> ID </th> -->
            <th style="padding:0 15px;"> Renter Name </th>
            <th style="padding:0 15px;"> Equipment Name </th>
            <th style="padding:0 15px;"> Checkout Date </th>
            <th style="padding:0 15px;"> Checkin Date </th>
        </tr>
        <% @reservations.each do |reservation| %>
        <tr>
            <td style="padding:0 15px;"><%= reservation.renter_name%></td>
            <td style="padding:0 15px;"><%= reservation.saved_item%></td>
            <td style="padding:0 15px;"><%= reservation.checkout_date%></td>
            <td style="padding:0 15px;"><%= reservation.checkin_date%></td>
        </tr>
        <% end %>
    </table>
</div>
