<h1>Equipment Reservations</h1>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= link_to("<< Back to List", reservations_path, :class => 'back-link') %>

<div class="reservations index">
    <h3> Select a Date for Reservation </h3>
    <div class="reservation dates">
        <%= form_for(@reservation, :url => reservations_equip_reserve_path, :method => 'post') do |f| %>
            <table summary="date dropdown">
                <tr>
                    <th><%= f.label "Reserve Date" %></th>
                    <td><%= f.date_field(:checkout_date, min: 8.days.from_now, max: 1.year.from_now)%></td>
                </tr>
                <tr>
                    <th>Event Description</th>
                    <td><%= f.text_field(:event_description) %></td>
                </tr>
            </table>
            <div class="form-buttons">
                <%= f.submit("Pick Date") %>
            </div>
        <% end %>
    </div>
    <br/>
</div>
