<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<h1> Admin Reservation Management </h1>
<br/>

<div class="my equipments">
    <table class="listing" summary="Equipment List">
        <tr class="header">
            <th style="padding:0 15px;"> ID </th>
            <th style="padding:0 15px;"> Rentee Name </th>
            <th style="padding:0 15px;"> Rentee Email </th>
            <th style="padding:0 15px;"> Item Name </th>
            <th style="padding:0 15px;"> Description </th>
            <th style="padding:0 15px;"> Reserved Date </th>
            <th style="padding:0 15px;"> Return By Date </th>
            <th style="padding:0 15px;"> Actions </th>
        </tr>
        <% @reservations.each do |reservation| %>
            <% if reservation.future_equip_id != nil %>
            <% @future_item = Equipment.find(reservation.future_equip_id) %>
                <% @acc = Account.find(reservation.account_id) %>
                <tr>
                    <td style="padding:0 15px;"><%= @future_item.id%></td>
                    <td style="padding:0 15px;"><%= @acc.first_name + " " + @acc.last_name%></td>
                    <td style="padding:0 15px;"><%= @acc.email%></td>
                    <td style="padding:0 15px;"><%= @future_item.name%></td>
                    <td style="padding:0 15px;"><%= @future_item.description%></td>
                    <td style="padding:0 15px;"><%= reservation.checkout_date %></td>
                    <td style="padding:0 15px;"><%= reservation.checkin_date %></td>
                    <td style="padding:0 15px;"class="actions">
                        <%= link_to("Cancel", admin_cancel_item_reservation_path(reservation), :class => "action cancel_item") %>
                    </td>
                </tr>
            <% end %>
        <% end %>
    </table>
</div>
<br/>

<%= link_to("<< Back To Dashboard", edit_account_registration_path, :class => 'action equip_list')%>