<h1 style = "text-align:center;">Reservations#show</h1>

<div style="text-align: center;">
    <%= link_to("<< Back to List", reservations_path, :class => 'back-link') %>
</div>

<style>
body {
  background-color: Black;
  opacity: 0.8;
  color: white;
}
table.center {
  margin-left:auto;
  margin-right:auto;
  color: white;
}
</style>

<div class="reservations show">
  <h2 style = "text-align: center;">Show Reservation</h2>

  <table class="center" summary="reservation detail view">
    <tr>
      <th>ID</th>
      <td><%= @reservation.id %></td>
    </tr>
    <tr>
      <th>Event Description</th>
      <td><%= @reservation.event_description %></td>
    </tr>
    <tr>
      <th>Checkout Date</th>
      <td><%= @reservation.checkout_date%></td>
    </tr>
    <tr>
      <th>Checkin Date</th>
      <td><%= @reservation.checkin_date %></td>
    </tr>

  </table>

</div>
